<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css"/>
  <link rel="stylesheet" href="css/standart.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/basket.css">
  <link rel="stylesheet" href="css/footer.css"/>
  <link rel="stylesheet" href="css/mobile.css">
  <script src="js/templates.js"></script>
  <script src="script.js"></script>
  <script src="js/basket.js"></script>
  <title>Bestell App</title>
</head>

<body>
  <footer id="footer-content">
    <section class="footer-section">
      <div>
        <a href="#header-content"><img src="icon/favicon.ico" alt="Logo"></a>
      </div>
      <div class="footer-info">
        <div class="info">
          <a href="#">Datenschutz</a>
          <a href="#">Impressum</a>
        </div>
        <div>
          <p>&copy; Bestell App.de</p>
        </div>
      </div>
      <div>
        <div class="social">
          <a href="https://www.facebook.com/"><img src="icon/facebook(1).png" alt="Facebook"></a>
          <a href="https://www.instagram.com/"><img src="icon/instagram(1).png" alt="Instagramm"></a>
          <a href="https://twitter.com/?lang=de"><img src="icon/X.png" alt="Twitter"></a>
        </div>
      </div>
    </section>
  </footer>  
</body>
</html>