<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css"/>
  <link rel="stylesheet" href="css/standart.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/basket.css">
  <link rel="stylesheet" href="css/footer.css"/>
  <link rel="stylesheet" href="css/mobile.css">
  <title>Bestell App</title>
</head>

<body>
  <header id="header-content">
    <nav>
      <div class="header-left">
        &lang;
        <img src="icon/favicon.ico" alt="Delivery-Image">
        <h1>Bestell App</h1>
      </div>
      <div>
        <p>Speisekarte</p>
      </div>
      <div class="header-right">
        <div class="german">         
          <img src="icon/deutschland.png" alt="German">
        </div>
        <div class="burger-menu">
          <img src="icon/burger-menu.png" alt="Menu">
        </div>
      </div>
    </nav>
  </header>    
</body>

</html>